<link rel="stylesheet" href="/css/user/settings.css">
<div class="title">
    <%= title_area %>
</div>

<div class="content-block">
    <div class="setting-title">Имя</div>
    <div class="input">
        <input type="text" class="u-input" data-label="name_name" value="<%= user.name.name %>">
    </div>
</div>
<div class="content-block">
    <div class="setting-title">Фамилия</div>
    <div class="input">
        <input type="text" class="u-input" data-label="name_family" value="<%= user.name.family %>">
    </div>
</div>
<div class="content-block">
    <div class="setting-title">Отчество</div>
    <div class="input">
        <input type="text" class="u-input" data-label="name_otch" value="<%= user.name.otch %>">
    </div>
</div>
<div class="content-block">
    <div class="setting-title">Электронная почта</div>
    <div class="input">
        <input type="text" class="u-input" data-label="email" value="<%= user.email %>">
    </div>
</div>